/* основной цвет фона #ffffff
primary-text-color #424242
secondary-text-color #484848
accent-color #01996D
primary-black-color #000000
secondary-bg-color #245852
site-nav-text-color #292929  */

/* шрифты
Вместо georgia - Oxygen
Вместо Avenir - Poppins */

:root {
--accent-color: #01996D;
--primary-text-color: #424242;
--secondary-text-color: #484848;
--site-nav-text-color: #292929;
--primary-black-color: #000000;
--primary-white-color: #ffffff;
--secondary-bg-color: #245852;
--numbers-color: rgba(1, 153, 109, 0.2);
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.link {
    font-style: normal;
    text-decoration: none;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.logo {
color: var(--accent-color);
font-family: Poppins, sans-serif;
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 1.4;
}

.logo:hover,
.logo:focus {
color: var(--secondary-bg-color); 
}

.container {
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
    width: 1700px;

    outline: 1px solid red;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    color: var(--primary-text-color);
    font-family: Loto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
}

/* button */

.button {
    border: none;
    border-radius: 4px;
    padding: 6px 22px;

    color: var(--title-text-color);
    background-color: var(--secondary-bg-color);
    font-family: inherit;
}

.button.primary {
    display: inline-block;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    padding: 13px 50px;

    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-weight: 400;
    font-size: 20px;
    line-height: 1.25;
    text-align: center;
    border: 1px solid var(--accent-color);
}

/* -----------------------Header----------------------- */

.top {

}

.container.top {
    display: flex;
    align-items: center;
    padding-left: 140px;
    padding-right: 140px;
}

.main-nav {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    margin-left: 172px;
}

.site-nav .item + .item {
    margin-left: 70px;
}

.site-nav .link {
    display: block;
    padding-top: 30px;
    padding-bottom: 31px;


color: var(--site-nav-text-color);
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
}

.registration-nav {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.registration-nav .item + .item {
    margin-left: 35px;
}

.registration-nav .link {
    display: block;
    padding-top: 30px;
    padding-bottom: 31px;

color: var(--primary-black-color);
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
}

.site-nav .link:hover,
.site-nav .link:focus,
.registration-nav .link:hover,
.registration-nav .link:focus {
    color: var(--accent-color);
}

/* -----------------------Main----------------------- */

.title {
    font-family: Oxygen, sans-serif;
    font-weight: 700;
}
/* Hero */

.hero {
    background-color: tomato
}

.hero-text .title {
max-width: 400px;
margin-bottom: 30px;

font-size: 65px;
line-height: 1.14;

color: var(--accent-color);
}

.hero-text .text {
    margin-bottom: 18px;
    font-weight: 400;
    font-size: 20px;
    line-height: 29;

    color: var(--secondary-text-color)
}

.hero-text .link{
    font-weight: 400;
    font-size: 20px;
    line-height: 1.25;

    color: var(--primary-white-color)
}

/* How it's work*/

.solutions .top-text {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.58;
}

.solutions .title {
    font-size: 50px;
    line-height: 1.58;
    
    color: var(--accent-color)
}

.solutions .text {
}

.solutions-list .number {
    font-family: Oxygen, sans-serif;
    font-weight: 400;
    font-size: 150px;
    line-height: 1.5;

    color:  var(--numbers-color)
}

.solutions-list .title {
    font-size: 30px;
    line-height: 1.5;

    color: var(--primary-black-color)
}

/* video banner */

.community {
    background-color: var(--secondary-bg-color)
}

.community .title {
    font-size: 50px;
    line-height: 1.58;

    color: var(--primary-white-color)
}

.community .text {
    font-weight: 600;
    font-size: 25px;
    line-height: 1.56;
    
    color: var(--primary-white-color)
}

.community .link {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.25;

    color: var(--primary-white-color)
}

/* our product */

.pricing {
    background-color: aqua;
}

.pricing .title {
    font-size: 50px;
    line-height: 1.58;

    color: var(--accent-color)
}

.pricing .link {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.25;
    
    color: var(--primary-white-color)
}

/* card */

.card .top-text {
    font-weight: 600;
    font-size: 14.49px;
    line-height: 1.58;

    color: var(--primary-black-color)
}

.card .about {
    font-weight: 400;
    font-size: 11.9351px;
    line-height: 1.58;

    color: var(--primary-black-color)
}

.card .title {
    font-size: 15.9292px;
    line-height: 1.56;
    
    color: var(--primary-black-color);
}

.card .text {
    font-weight: 400;
    font-size: 10.6195px;
    line-height: 1.54;

    color: var(--primary-text-color)
}

/* ---------------------Footer--------------------- */

.footer {
    background-color: var(--secondary-bg-color);
}

.footer .logo.link {
    color: var(--primary-white-color);
}

.nav .link {
    font-weight: 600;
    font-size: 25px;
    line-height: 1.2;
    
    color: var(--primary-white-color)
}

.address .link {
    text-align: none;
    font-weight: 600;
    font-size: 25px;
    line-height: 1.2;
    
    color: var(--accent-color);
}

.nav .link:hover,
.nav .link:focus {
    color: var(--accent-color);
}

.address .link:hover,
.address .link:focus {
    color: var(--primary-white-color);
}

.address .text {

    color: var(--primary-white-color);
}
